# REQUIRED
DATABASE_URL=postgresql://neondb_owner:npg_dV1LJkZI5gvS@ep-shy-cherry-alk0oevt-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BOT_TOKEN=your_bot_token_here

# OPTIONAL
PORT=3001
DEV_MODE=true
CORS_ORIGINS=https://your-app.pages.dev
